<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Myriadbits.MXFInspect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MXFInspect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
    </startup>
    <userSettings>
        <Myriadbits.MXFInspect.Properties.Settings>
            <setting name="Filename" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PartialLoadThresholdMB" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Color_Partition" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="Color_Essence" serializeAs="String">
                <value>MediumOrchid</value>
            </setting>
            <setting name="Color_IndexTable" serializeAs="String">
                <value>OrangeRed</value>
            </setting>
            <setting name="Color_RIP" serializeAs="String">
                <value>Crimson</value>
            </setting>
            <setting name="Color_SystemItem" serializeAs="String">
                <value>DarkGoldenrod</value>
            </setting>
            <setting name="Color_Filler" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Color_MetaData" serializeAs="String">
                <value>DarkGreen</value>
            </setting>
            <setting name="Color_Special" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="PartialLoadWarning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOffsetAsHex" serializeAs="String">
                <value>False</value>
            </setting>
        </Myriadbits.MXFInspect.Properties.Settings>
        <MXFInspect.Properties.Settings>
            <setting name="Filename" serializeAs="String">
                <value/>
            </setting>
        </MXFInspect.Properties.Settings>
    </userSettings>
</configuration>
